<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">                                     
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
      
    </head>
    <body>
        <h4>Departures {{ time }}</h4>
        <table>
              {% for row in dep %}
              <tr><td>{{ row }}</td></tr>
              {% endfor %}
        </table>

        <h4>Arrivals {{ time }}</h4>
        <table>
              {% for row in arr %}
              <tr><td>{{ row }}</td></tr>
              {% endfor %}
        </table>

    </body>
</html>
